.welcome{
    font-family: 
('https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One:ital@0;1&family=Lora:ital,wght@0,400;1,400;1,500&family=Playfair+Display&family=Silkscreen:wght@400;700&display=swap');

}
.alumni-sans collegiate one-regular {
    font-family: "Alumni Sans Collegiate One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .alumni-sans collegiate one-regular-italic {
    font-family: "Alumni Sans Collegiate One", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  